src/main/resources/api.wsdl

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://web.is.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns2="http://schemas.xmlsoap.org/soap/http" xmlns:ns1="http://jaxb.dev.java.net/array" name="LaptopServiceImplService" targetNamespace="http://web.is.com/">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://web.is.com/" targetNamespace="http://web.is.com/" version="1.0">
            <xs:element name="laptop" type="tns:xmlInputFormat"/>
            <xs:complexType name="xmlInputFormat">
                <xs:sequence>
                    <xs:element minOccurs="0" name="manufacturer" type="xs:string"/>
                    <xs:element minOccurs="0" name="screen" type="tns:screen"/>
                    <xs:element minOccurs="0" name="processor" type="tns:processor"/>
                    <xs:element minOccurs="0" name="ram" type="xs:string"/>
                    <xs:element minOccurs="0" name="disc" type="tns:disc"/>
                    <xs:element minOccurs="0" name="graphic_card" type="tns:graphicCard"/>
                    <xs:element minOccurs="0" name="os" type="xs:string"/>
                    <xs:element minOccurs="0" name="disc_reader" type="xs:string"/>
                </xs:sequence>
                <xs:attribute name="id" type="xs:string"/>
            </xs:complexType>
            <xs:complexType name="screen">
                <xs:sequence>
                    <xs:element minOccurs="0" name="size" type="xs:string"/>
                    <xs:element minOccurs="0" name="resolution" type="xs:string"/>
                    <xs:element minOccurs="0" name="type" type="xs:string"/>
                </xs:sequence>
                <xs:attribute name="touch" type="xs:string"/>
            </xs:complexType>
            <xs:complexType name="processor">
                <xs:sequence>
                    <xs:element minOccurs="0" name="name" type="xs:string"/>
                    <xs:element minOccurs="0" name="physical_cores" type="xs:string"/>
                    <xs:element minOccurs="0" name="clock_speed" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="disc">
                <xs:sequence>
                    <xs:element minOccurs="0" name="storage" type="xs:string"/>
                </xs:sequence>
                <xs:attribute name="type" type="xs:string"/>
            </xs:complexType>
            <xs:complexType name="graphicCard">
                <xs:sequence>
                    <xs:element minOccurs="0" name="name" type="xs:string"/>
                    <xs:element minOccurs="0" name="memory" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType final="#all" name="xmlInputFormatArray">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:xmlInputFormat"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://jaxb.dev.java.net/array" version="1.0">
            <xs:complexType final="#all" name="stringArray">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="customMethodResponse">
        <wsdl:part name="return" type="xsd:int"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getRecordsByScreenType">
        <wsdl:part name="arg0" type="xsd:string"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAllDistinctProducers"> </wsdl:message>
    <wsdl:message name="getRecordsByScreenTypeResponse">
        <wsdl:part name="return" type="tns:xmlInputFormatArray"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="customMethod">
        <wsdl:part name="arg0" type="xsd:int"> </wsdl:part>
        <wsdl:part name="arg1" type="xsd:int"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getNumberOfRecordsByProducer">
        <wsdl:part name="arg0" type="xsd:string"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getNumberOfRecordsByProducerResponse">
        <wsdl:part name="return" type="xsd:int"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAllDistinctScreenTypes"> </wsdl:message>
    <wsdl:message name="getAllDistinctProducersResponse">
        <wsdl:part name="return" type="ns1:stringArray"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAllDistinctScreenTypesResponse">
        <wsdl:part name="return" type="ns1:stringArray"> </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="LaptopService">
        <wsdl:operation name="customMethod">
            <wsdl:input message="tns:customMethod" name="customMethod"> </wsdl:input>
            <wsdl:output message="tns:customMethodResponse" name="customMethodResponse"> </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getNumberOfRecordsByProducer">
            <wsdl:input message="tns:getNumberOfRecordsByProducer" name="getNumberOfRecordsByProducer"> </wsdl:input>
            <wsdl:output message="tns:getNumberOfRecordsByProducerResponse" name="getNumberOfRecordsByProducerResponse"> </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getRecordsByScreenType">
            <wsdl:input message="tns:getRecordsByScreenType" name="getRecordsByScreenType"> </wsdl:input>
            <wsdl:output message="tns:getRecordsByScreenTypeResponse" name="getRecordsByScreenTypeResponse"> </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllDistinctScreenTypes">
            <wsdl:input message="tns:getAllDistinctScreenTypes" name="getAllDistinctScreenTypes"> </wsdl:input>
            <wsdl:output message="tns:getAllDistinctScreenTypesResponse" name="getAllDistinctScreenTypesResponse"> </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllDistinctProducers">
            <wsdl:input message="tns:getAllDistinctProducers" name="getAllDistinctProducers"> </wsdl:input>
            <wsdl:output message="tns:getAllDistinctProducersResponse" name="getAllDistinctProducersResponse"> </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="LaptopServiceImplServiceSoapBinding" type="tns:LaptopService">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="customMethod">
            <soap:operation soapAction="" style="rpc"/>
            <wsdl:input name="customMethod">
                <soap:body namespace="http://web.is.com/" use="literal"/>
            </wsdl:input>
            <wsdl:output name="customMethodResponse">
                <soap:body namespace="http://web.is.com/" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getNumberOfRecordsByProducer">
            <soap:operation soapAction="" style="rpc"/>
            <wsdl:input name="getNumberOfRecordsByProducer">
                <soap:body namespace="http://web.is.com/" use="literal"/>
            </wsdl:input>
            <wsdl:output name="getNumberOfRecordsByProducerResponse">
                <soap:body namespace="http://web.is.com/" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getRecordsByScreenType">
            <soap:operation soapAction="" style="rpc"/>
            <wsdl:input name="getRecordsByScreenType">
                <soap:body namespace="http://web.is.com/" use="literal"/>
            </wsdl:input>
            <wsdl:output name="getRecordsByScreenTypeResponse">
                <soap:body namespace="http://web.is.com/" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllDistinctScreenTypes">
            <soap:operation soapAction="" style="rpc"/>
            <wsdl:input name="getAllDistinctScreenTypes">
                <soap:body namespace="http://web.is.com/" use="literal"/>
            </wsdl:input>
            <wsdl:output name="getAllDistinctScreenTypesResponse">
                <soap:body namespace="http://web.is.com/" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllDistinctProducers">
            <soap:operation soapAction="" style="rpc"/>
            <wsdl:input name="getAllDistinctProducers">
                <soap:body namespace="http://web.is.com/" use="literal"/>
            </wsdl:input>
            <wsdl:output name="getAllDistinctProducersResponse">
                <soap:body namespace="http://web.is.com/" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="LaptopServiceImplService">
        <wsdl:port binding="tns:LaptopServiceImplServiceSoapBinding" name="LaptopServiceImplPort">
            <soap:address location="http://localhost:8080/services/LaptopService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
